@page
@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid d-flex flex-column min-vh-80 px-0">
    <div class="card shadow border-0 mx-auto my-auto" style="max-width: 800px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Privacy Policy</h2>

            <p>
                We are committed to protecting and respecting your privacy. This policy explains how we handle your personal data. We collect several types of information for various purposes to provide and improve our service to you. This includes personal information such as your name, email address, and phone number, as well as usage data like pages you visit and the time spent on the site. We also use cookies and other tracking technologies. The collected data is used to improve and personalize your user experience, to communicate with you, respond to inquiries, and process requests. Additionally, we monitor and analyze site usage to enhance service performance. While we take administrative, technical, and physical safeguards to protect your information, no method of transmission over the Internet is 100% secure, and we cannot guarantee the security of your data. We do not sell or trade your personal information to third parties, and we may only share it when required by law or to protect the rights, property, or safety of our users. You have the right to access, update, or delete your personal information, and you can also request a copy of your data by contacting us at any time. If you have any questions regarding this Privacy Policy or need further information, please feel free to contact us. By using our website, you agree to the terms outlined in this Privacy Policy.
            </p>
        </div>
    </div>
</div>